<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/iteration">
<!--
JBoss, Home of Professional Open Source
Copyright ${year}, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.


This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.


This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.


You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
-->
	<h:head>
	    <title>Richfaces ExtendedDataTable Test</title>
 	</h:head>
	
	<h:body>
	 	<rich:extendedDataTable id="table" frozenColumns="1" value="value" var="var" sortMode="multi">
				<f:facet name="header">
					<h:outputText id="headerFacet" value="headerFacet"/>
				</f:facet>
				<f:facet name="noData">
					<h:outputText id="noDataFacet" value="noDataFacet"/>
				</f:facet>
				<f:facet name="footer">
					<h:outputText id="footerFacet" value="footerFacet"/>
				</f:facet>
				<rich:column id="column1">
					<f:facet name="header">
						<h:outputText id="headerColumnFacet1" value="headerColumnFacet1"/>
					</f:facet>
					<h:outputText id="outputText" value="#{var}"/>
					<f:facet name="footer">
						<h:outputText id="footerColumnFacet1" value="footerColumnFacet1"/>
					</f:facet>
				</rich:column>
				<rich:column id="column2" filterValue="filterValue2" sortOrder="ascending">
					<f:facet name="header">
						<h:outputText id="headerColumnFacet2" value="headerColumnFacet2"/>
					</f:facet>
					<f:facet name="footer">
						<h:outputText id="footerColumnFacet2" value="footerColumnFacet2"/>
					</f:facet>
				</rich:column>
	 	</rich:extendedDataTable>
	 	<rich:extendedDataTable id="table2" >
				<f:facet name="noData">
					<h:outputText id="noDataFacet" value="noDataFacet"/>
				</f:facet>
				<rich:column></rich:column>
	 	</rich:extendedDataTable>
	</h:body>
</html>
