<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<style>
.calign {
	text-align: center;
}
</style>
	<h:form id="form">
		<h:panelGrid columns="1" rowClasses="calign">
			<h:panelGrid columns="3" id="repeat">
				<h:graphicImage value="/images/icons/scroller/arr_left.png"
					onclick="#{rich:component('ds')}.previous()" />
				<a4j:repeat rows="3" value="#{slidesBean.pictures}" var="pic"
					id="pics">
					<h:graphicImage value="#{pic.uri}" style="" width="175"/>
				</a4j:repeat>
				<h:graphicImage value="/images/icons/scroller/arr_right.png"
					onclick="#{rich:component('ds')}.next()" />
			</h:panelGrid>
			<rich:dataScroller for="pics" id="ds" render="repeat"
				stepControls="hide" boundaryControls="hide" fastControls="hide"
				maxPages="10" />
		</h:panelGrid>
	</h:form>
</ui:composition>