<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:it="http://richfaces.org/iteration"
      xmlns:misc="http://richfaces.org/misc"
      xmlns:a4j="http://richfaces.org/a4j">
<f:view contentType="text/html"/>

<h:head>
    <title>Richfaces Tables</title>
</h:head>

<h:body>
    <h:form id="form1">
        <it:dataScroller id="scroller1" for="richTable" page="#{dataBean.page}" maxPages="7"></it:dataScroller>

        <it:dataTable keepSaved="true" id="richTable" var="record" rowKeyVar="rowKey" value="#{dataBean.employeeList}"
                      rows="20" sortMode="single" rowClass='#{record}'
                      cellClass="cellClQwerty" firstRowClass="firstRowClass123">
            <f:facet name="caption">
                <h:outputText id="captioFacet1" value="Caption Facet"/>
            </f:facet>

            <f:facet name="header">
                <h:outputText value="header"/>
            </f:facet>

            <it:column id="column_name" sortBy="#{record.name}"
                       sortIconAsc="resources/images/asc.gif"
                       sortIconDesc="resources/images/desc.gif"
                       sortIconUnsort="resources/images/unsort.gif">
                <f:facet name="header">
                    <h:outputText id="columnHeader1" value="Column Header Facet"/>
                </f:facet>

                <it:collapsibleSubTableToggler for="collapsibleSubTable">
                </it:collapsibleSubTableToggler>

                <h:outputText value="#{record.name}"/>
                <f:facet name="footer">
                    <h:outputText id="columnFooter1" value="Column Footer Facet 1"/>
                </f:facet>
            </it:column>

            <it:column id="column_title" sortBy="#{record.title}"
                       sortIconAsc="resources/images/asc.gif"
                       sortIconDesc="resources/images/desc.gif"
                       sortIconUnsort="resources/images/unsort.gif">
                <f:facet name="header">
                    <h:outputText id="columnHeader2" value="Column Header Facet 2"/>
                </f:facet>
                <h:outputText value="#{record.title}"/>
            </it:column>

            <it:column id="column_email">
                <h:outputText value="#{record.EMail}"/>
            </it:column>

            <it:collapsibleSubTable id="collapsibleSubTable" var="company"
                                    value="#{record.companies}" rows="1" switchType="ajax"
                                    expanded="true" rowClass="#{company}">
                <f:facet name="header">
                    <it:dataScroller id="subscroller" for="collapsibleSubTable"
                                     maxPages="3"></it:dataScroller>
                </f:facet>

                <f:facet name="footer">
                    <h:outputText value="footer"/>
                </f:facet>

                <it:column id="column_company_name">
                    <h:outputText value="#{company.name}"/>
                </it:column>

                <it:column id="column_company_state">
                    <h:outputText value="#{company.state}"/>
                </it:column>

                <it:column id="column_company_phone">
                    <h:outputText value="#{company.phone}"/>
                </it:column>
            </it:collapsibleSubTable>

            <f:facet name="footer">
                <it:dataScroller id="scroller3" for="richTable" page="#{dataBean.page}" maxPages="7"></it:dataScroller>
            </f:facet>

        </it:dataTable>


        <br/>

        <!-- cc:componentControl event="click" target="#{dataBean.target}" operation="#{dataBean.operation}">
                      <f:param name="event" value="event"/>
                      <cc:hashParam>
                          <f:param name="key1" value="value1"/>
                          <f:param name="key2" value="value2"/>
                          <f:param name="key3" value="value3"/>
                          <cc:hashParam name="nested1">
                              <f:param name="key11" value="value11"/>
                          </cc:hashParam>
                      </cc:hashParam>
                      <cc:hashParameter name="hashkey1">
                          <f:param name="keyhash1" value="value1"/>
                          <f:param name="keyhash2" value="value2"/>
                      </cc:hashParameter>
                      <h:commandButton value="richfaces1"/>
                      <h:commandButton value="richfaces2"/>
                  </cc:componentControl -->


        <h:commandButton value="next">
            <misc:componentControl event="click" target="form1:scroller1"
                                   operation="switchToPage">
                <f:param value="fastforward"/>
            </misc:componentControl>
        </h:commandButton>

        <h:commandButton value="previous">
            <misc:componentControl event="click" target="form1:scroller1"
                                   operation="previous"/>
        </h:commandButton>

        <h:commandButton value="sort">
            <misc:componentControl event="click" target="form1:richTable"
                                   operation="sort">
                <f:param value="column_title"/>
            </misc:componentControl>
        </h:commandButton>

        <h:commandButton value="unsort">
            <misc:componentControl event="click" target="form1:richTable"
                                   operation="sort">
            </misc:componentControl>
        </h:commandButton>

    </h:form>
    <br />
    <h:form id="renderIfSinglePage_form">
        <h:outputText value="DataScroller: attribute 'renderIfSinglePage' with empty table"/>
        <br />
        <it:dataScroller id="scroller2" for="richTable2" page="#{dataBean.page}"
                         renderIfSinglePage="#{dataBean.renderIfSinglePage}"/>
        <it:dataTable id="richTable2" />
        <h:selectOneRadio layout="pagedirection" value="#{dataBean.renderIfSinglePage}">
            <f:selectItem itemValue="true" itemLabel="Set renderIfSinglePage 'true'"/>
            <f:selectItem itemValue="false" itemLabel="Set renderIfSinglePage 'false'"/>
            <a4j:ajax render="renderIfSinglePage_form" />
        </h:selectOneRadio>
    </h:form>
</h:body>
</html>
