<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:it="http://richfaces.org/iteration">
<!--
JBoss, Home of Professional Open Source
Copyright ${year}, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.


This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.


This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.


You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
-->
	<h:head>
	    <title>Richfaces ExtendedDataTable</title>
		<style type="text/css">
			.extendedDataTable{
				width:500px;
				height: 500px;
			}
		</style>
 	</h:head>
	
	<h:body>
	    <h:form id="form1">
	    	<h:outputText value="Show data in table" />
	    	<h:selectBooleanCheckbox value="#{dataBean.state}">
	    		<f:ajax render="extendedDataTable" />
	    	</h:selectBooleanCheckbox>
	    	<h:outputText value="Render footer" style="padding-left: 30px;"/>
	    	<h:selectBooleanCheckbox value="#{dataBean.rendered}">
	    		<f:ajax render="extendedDataTable" />
	    	</h:selectBooleanCheckbox>
	    	<br />
	    	<h:outputText value="JS API" />
	    	<script type="text/javascript">
<!--
function invokeJSAPI() {
	eval("document.getElementById('js_api_result').value = RichFaces.$('"+ document.getElementById("js_api_id_input").value + "')."
			+ document.getElementById("js_api_function_string_input").value);
}
//-->
			</script>
	    	<input id="js_api_id_input" name="js_api" type="text" value="form1:extendedDataTable" />
			<input id="js_api_function_string_input" name="js_api" type="text" value="sort('column_title')" size="60"/>
			<input type="button" value="Run" onclick="invokeJSAPI()" />
			<input id="js_api_result" name="js_api" type="text" readonly="readonly" size="60"/>
			<br />
			<h:outputText value="Selection mode" />
			<h:selectOneMenu value="#{dataBean.selectionMode}">
				<f:selectItems value="#{dataBean.selectionModes}"/>
				<f:ajax render="extendedDataTable" />
			</h:selectOneMenu>
			<h:outputText value="Lock selection" style="padding-left: 30px;"/>
			<input id="selectionLocker" type="checkbox"/>
			<h:outputText value="Selected rowKeys" style="padding-left: 30px;"/>
			<h:outputText id="selectionOutput" value="#{dataBean.selectedRowKeys}"/>
			
		<it:extendedDataTable id="extendedDataTable" clientRows="40" rows="100" frozenColumns="2"
				value="#{dataBean.state ? dataBean.employeeList : null}" var="record" noDataLabel="There isn't data."
				styleClass="extendedDataTable" rowKeyVar="rkv" filterVar="fv" sortMode="multi" 
				selectionMode="#{dataBean.selectionMode}" selectedRowKeys="#{dataBean.selectedRowKeys}"
				onbeforeselectionchange="if (document.getElementById('selectionLocker').checked) {event.preventDefault(); return false;}">
				<f:ajax render=":form1:selectionOutput" />
	    		<f:facet name="header">
					<h:outputText value="Current date: #{dataBean.date}"/>
				</f:facet>
				<f:facet name="footer">
					<h:outputText value="Footer of table."/>

				</f:facet>
				<f:facet name="noData">
					<h:outputText value="There isn't data." style="border: solid black 1px;"/>
				</f:facet>
				<it:column id="rkv">
					<f:facet name="header">
						<h:outputText value="Index"/>
					</f:facet>
					<h:outputText value="#{rkv}" />
	     			<c:if test="#{dataBean.rendered}">
						<f:facet name="footer">
							<h:outputText id="footerFacet" value="index"/>
						</f:facet>
	     			</c:if>
				</it:column>
				<it:column id="column_name" filterExpression="#{fn:containsIgnoreCase(record.name, fv)}" sortBy="#{record.name}">
					<f:facet name="header">
						<h:outputText id="columnHeader1" value="Column Header Facet"/>
					</f:facet>
					<h:outputText value="#{record.name}" />
	     			<c:if test="#{dataBean.rendered}">
						<f:facet name="footer">
							<h:outputText  id="columnFooter1"  value="Column Footer Facet"/>
						</f:facet>
					</c:if>
				</it:column>
				
				<it:column id="column_title" width="200px" sortBy="#{record.title}">
					<h:outputText value="#{record.title}" />
	     			<c:if test="#{dataBean.rendered}">
						<f:facet name="footer">
							<h:outputText  id="columnFooter2"  value="Column Footer Facet2"/>
						</f:facet>
					</c:if>
				</it:column>
			
				<it:column id="column_email" width="300px">
					<h:outputText value="#{record.EMail}" />
				</it:column>				
				<it:column id="column_company_name" width="300px">
					<h:outputText value="#{record.companies[0].name}" />
				</it:column>				
				<it:column id="column_company_state">
					<h:outputText value="#{record.companies[0].state}" />
				</it:column>
				<it:column id="column_company_phone">
					<h:outputText value="#{record.companies[0].phone}" />
				</it:column>
			</it:extendedDataTable>
			<input id="submit" type="submit" />
	   </h:form>
	</h:body>
</html>
