<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
</h:head>
<h:body>
	<h4>Iteration Components Sample</h4>
	<ul>
		<li><h:link outcome="dataTable">rich:DataTable</h:link></li>
		<li><h:link outcome="extendedtable">rich:extendedDataTable</h:link></li>
		<li><h:link outcome="dataGrid">rich:DataGrid</h:link></li>
		<li><h:link outcome="filteringAndSorting">filtering and sorting feature</h:link></li>
		<li><h:link outcome="list">rich:list</h:link></li>
		<li><h:link outcome="tree">rich:tree</h:link></li>
		<li><h:link outcome="treeModel">rich:treeModelAdaptor and rich:treeModelRecursiveAdaptor</h:link></li>
	</ul>
	

	<h:form>
		<h:panelGrid columns="3">
			<h:commandButton value="Classic">
				<f:setPropertyActionListener target="#{skinBean.skin}"
					value="classic" />
			</h:commandButton>
			<h:commandButton value="BlueSky">
				<f:setPropertyActionListener target="#{skinBean.skin}"
					value="blueSky" />
			</h:commandButton>
			<h:commandButton value="DeepMarine">
				<f:setPropertyActionListener target="#{skinBean.skin}"
					value="deepMarine" />
			</h:commandButton>
		</h:panelGrid>
	</h:form>
</h:body>
</html>