<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:it="http://richfaces.org/iteration"
      xmlns:misc="http://richfaces.org/misc"
      xmlns:a4j="http://richfaces.org/a4j">
<f:view contentType="text/html"/>

<h:head>
    <title>Richfaces JPA Demo</title>
</h:head>

<h:body>
    <h:form id="form">
        <it:dataTable keepSaved="true" id="richTable" var="record" value="#{personBean.dataModel}" rows="20">
        	<ui:include src="jpaColumn.xhtml">
        		<ui:param name="bean" value="#{personBean}" />
        		<ui:param name="property" value="name" />
        	</ui:include>
        	<ui:include src="jpaColumn.xhtml">
        		<ui:param name="bean" value="#{personBean}" />
        		<ui:param name="property" value="surname" />
        	</ui:include>
        	<ui:include src="jpaColumn.xhtml">
        		<ui:param name="bean" value="#{personBean}" />
        		<ui:param name="property" value="email" />
        	</ui:include>
        	
        	<f:facet name="footer">
				<it:dataScroller id="scroller" />
        	</f:facet>
		</it:dataTable>
    </h:form>
</h:body>
</html>
