<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:it="http://richfaces.org/iteration">
<f:view contentType="text/html" />

<h:head>
	<title>Richfaces List</title>
</h:head>

<h:body>
	<h:form>
		<h:selectOneListbox value="#{listBean.listType}" onchange="submit()">
			<f:selectItem itemValue="ordered" />
			<f:selectItem itemValue="unordered" />
			<f:selectItem itemValue="definitions" />
		</h:selectOneListbox>
	</h:form>

	<h:form id="form1">
		<it:list id="list" var="item" value="#{dataBean.employeeList}" rows="20" type="#{listBean.listType}">
			<f:facet name="term">
				E-mail: #{item.EMail}
			</f:facet>

			Name: #{item.name}
		</it:list>

		<it:dataScroller for="list" />
	</h:form>
</h:body>
</html>
