<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:it="http://richfaces.org/iteration"
	xmlns:a4j="http://richfaces.org/a4j">
<ui:composition>
	<h:head></h:head>
	<h:body>
		<h:form>
			<h:panelGrid columns="2">
				Name		
				<h:inputText value="#{rf10888.name}">
					<f:ajax render="table scroller" event="keyup" />
				</h:inputText>
		
				Surname
				<h:inputText value="#{rf10888.surname}">
					<f:ajax render="table scroller" event="keyup" />
				</h:inputText>
	
				E-mail
				<h:inputText value="#{rf10888.email}">
					<f:ajax render="table scroller" event="keyup" />
				</h:inputText>
			</h:panelGrid>
	
			<it:dataScroller id="scroller" for="table" />
			<h:dataTable value="#{rf10888.filteredData}" id="table" var="record" rows="20">
				<h:column>
					<f:facet name="header">
					Name
					</f:facet>
					#{record.name}
				</h:column>
			
				<h:column>
					<f:facet name="header">
					Surname
					</f:facet>
					#{record.surname}
				</h:column>
		
				<h:column>
					<f:facet name="header">
					E-mail
					</f:facet>
					#{record.email}
				</h:column>
		
				<f:facet name="footer">
					<it:dataScroller />
				</f:facet>
			</h:dataTable>
		</h:form>
	</h:body>
</ui:composition>
</html>
