<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:it="http://richfaces.org/iteration"
	xmlns:a4j="http://richfaces.org/a4j">
<f:view contentType="text/html" />

<h:head>
	<title>Richfaces Tree Models</title>
</h:head>

<h:body>
	<a4j:outputPanel ajaxRendered="true">
		<h:messages id="messages" />
	</a4j:outputPanel>

	<h:form>
		Project is leaf:
		<h:selectBooleanCheckbox value="#{treeModelBean.projectIsLeaf}" onclick="submit()" />
	</h:form>

	<h:form id="form">
		<it:tree id="tree" var="node" toggleType="ajax">
			<it:treeNode>
				<a4j:commandLink value="#{node}" action="#{node.processClick}" />
			</it:treeNode>

			<it:treeModelAdaptor nodes="#{treeModelDataBean.root.projects}" leaf="#{treeModelBean.projectIsLeaf}">
				<it:treeNode iconExpanded="/images/folder_key.png" iconCollapsed="/images/folder_key.png">
					<a4j:commandLink value="#{node}" action="#{node.processClick}" />
				</it:treeNode>
			
				<it:treeModelAdaptor nodes="#{node.sourceDirectories}">
					<it:treeNode iconExpanded="/images/page_white_cup.png" iconCollapsed="/images/page_white_cup.png">
						<a4j:commandLink value="#{node}" action="#{node.processClick}" />
					</it:treeNode>
					
					<it:treeModelAdaptor nodes="#{node.packages}" rowKeyConverter="org.richfaces.demo.PackageKeyConverter">
						<it:treeModelAdaptor nodes="#{node.classes}" />
					</it:treeModelAdaptor>				
				</it:treeModelAdaptor>				

				<it:treeModelRecursiveAdaptor roots="#{node.commonDirectories}" nodes="#{node.directories}">
					<it:treeNode iconExpanded="/images/folder_page.png" iconCollapsed="/images/folder.png">
						<a4j:commandLink value="#{node}" action="#{node.processClick}" />
					</it:treeNode>
					
					<it:treeModelRecursiveAdaptor roots="#{node.archiveFiles}" nodes="#{node.archiveEntries}">
						
						<it:treeNode rendered="#{node.class.simpleName eq 'ArchiveFile'}" 
							iconExpanded="/images/compress.png" 
							iconCollapsed="/images/compress.png">
							<a4j:commandLink value="#{node}" action="#{node.processClick}" />
						</it:treeNode>

						<it:treeModelAdaptor rendered="#{node.class.simpleName eq 'ArchiveEntry'}" 
							nodes="#{node.archiveEntryFiles}" />
					</it:treeModelRecursiveAdaptor>
					<it:treeModelAdaptor nodes="#{node.files}" />
				</it:treeModelRecursiveAdaptor>				
			</it:treeModelAdaptor>
		</it:tree>
	</h:form>
	
	<h:panelGroup style="margin-top: 20px;">
		<hr />
		This demo uses icons taken from <a href="http://www.famfamfam.com/lab/icons/silk/">http://www.famfamfam.com/lab/icons/silk/</a>
	</h:panelGroup>
</h:body>
</html>
