<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j">
<f:view>
	<h:head>
	</h:head>
	<h:body>
		<a4j:queue ignoreDupResponses="true"/>
		<h:form>
			<a4j:commandLink value="Increment" action="#{queueBean.increment}" render="out"/>
			<br />
			<a4j:commandLink value="Reset" action="#{queueBean.reset}" render="out" />
			<br />
			<h:outputText value="Counter:" />
			<h:outputText id="out" value="#{queueBean.counter}"/>
		</h:form>
	</h:body>
</f:view>
</html>