<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
</h:head>
<h:body>
	<center>
	<h1>Welcome To RichFaces 4.x Core Demo</h1>
	<ul>
		<li><h:link outcome="actionListener">a4j:actionListener</h:link></li>
		<li><h:link outcome="ajax">a4j:ajax</h:link></li>
		<li><h:link outcome="attachQueue">a4j:attachQueue</h:link></li>
		<li><h:link outcome="button">a4j:commandButton</h:link></li>
		<li><h:link outcome="link">a4j:commandLink</h:link></li>
		<li><h:link outcome="log">a4j:log</h:link></li>
		<li><h:link outcome="mediaOutput">a4j:mediaOutput</h:link></li>
		<li><h:link outcome="outputPanel">a4j:outputPanel</h:link></li>
		<li><h:link outcome="function">a4j:jsFunction</h:link></li>
		<li><h:link outcome="status">a4j:status</h:link></li>
		<li><h:link outcome="dynamicExecute">Server side execute/render</h:link></li>
		<li><h:link outcome="queue">a4j:queue</h:link></li>
		<li><h:link outcome="repeat">a4j:repeat</h:link></li>
		<li><h:link outcome="region">a4j:region</h:link></li>
		<li><h:link outcome="poll">a4j:poll</h:link></li>
		<li><h:link outcome="param">a4j:param</h:link></li>
		<li><h:link outcome="skinning">controls skinning</h:link></li>
	</ul>
	</center>
</h:body>
</html>