<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
<p>This example demonstrates selection management using the built-in selection functionality.</p>
<p>The <b>selectionMode</b> attribute, which controls the selection mode, has three possible values:</p>
<ul>
<li>none</li>
<li>single</li>
<li>multiple</li>
<li>multipleKeyboardFree - <b>new!</b></li>
</ul>
<p>To manage your selection at server-side, use the <b>selection</b> attribute, which points to 
a collection of objects. The collection holds <b>rowKey</b> identifiers of the currently selected rows.</p>

	<ui:include src="#{demoNavigator.sampleIncludeURI}" />
	<ui:include src="/templates/includes/source-view.xhtml">
		<ui:param name="src" value="#{demoNavigator.sampleIncludeURI}" />
		<ui:param name="sourceType" value="xhtml" />
		<ui:param name="openLabel" value="View Source" />
		<ui:param name="hideLabel" value="Hide Source" />
	</ui:include>
	<ui:include src="/templates/includes/source-view.xhtml">
		<ui:param name="src" value="/WEB-INF/src/org/richfaces/demo/tables/ExtTableSelectionBean.java" />
		<ui:param name="sourceType" value="java" />
		<ui:param name="openLabel" value="View ExtSelectionBean Source" />
		<ui:param name="hideLabel" value="Hide ExtSelectionBean Source" />
	</ui:include>	
</ui:composition>

</html>
