<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pn="http://richfaces.org/output">

<body>
<ui:composition template="/templates/template.xhtml">

    <ui:define name="title">Collapsible Panel QUnit</ui:define>
    <ui:define name="body_head">Collapsible Panel QUnit</ui:define>

    <ui:define name="body">
        <p>Page</p>

        <h:form id="f">
            <pn:collapsiblePanel id="panel1" expanded="false" switchType="server">
                <f:facet name="headerExpanded" >
                    header exanded
                </f:facet>
                <f:facet name="headerCollapsed" >
                    header collapsed
                </f:facet>

                Hello Server!!!

            </pn:collapsiblePanel>

            <pn:collapsiblePanel id="panel2" expanded="false" switchType="ajax" toggleListener="#{collapsiblePanel.action}" >
                <f:facet name="headerExpanded" >
                    header expanded
                </f:facet>
                <f:facet name="headerCollapsed" >
                    header collapsed
                </f:facet>

                Hello Ajax!!!

            </pn:collapsiblePanel>

            <pn:collapsiblePanel id="panel3" expanded="false" switchType="client">
                <f:facet name="headerExpanded" >
                    header expanded
                </f:facet>
                <f:facet name="headerCollapsed" >
                    header collapsed
                </f:facet>

                Hello client!!!

            </pn:collapsiblePanel>

        </h:form>
    </ui:define>
</ui:composition>
</body>
</html>

