<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:a4j="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/output" template="/templates/template.xhtml">
	
	  <ui:define name="body">

<h:form id="form">
<h:outputLink value="#"
                onclick="RichFaces.$('form:popup').show(); return false;">
                    Open popup
                </h:outputLink>
<rich:popupPanel id="popup" left="#{modalPanel.left}"
		top="#{modalPanel.top}" height="#{modalPanel.height}"
		width="#{modalPanel.width}" 
		minHeight="#{modalPanel.minHeight}"
		minWidth="#{modalPanel.minWidth}"
		maxHeight="#{modalPanel.maxHeight}"
		maxWidth="#{modalPanel.maxWidth}"
		moveable="#{modalPanel.moveable}"
		resizeable="#{modalPanel.resizeable}"
		keepVisualState="#{modalPanel.keepVisualState}"
		rendered="#{modalPanel.rendered}"
		autosized="#{modalPanel.autosized}"
		shadowDepth="#{modalPanel.shadowDepth}"
		shadowOpacity="#{modalPanel.shadowOpacity}"
		show="#{modalPanel.show}"
		domElementAttachment="#{modalPanel.domElementAttachment}"
		zindex="#{modalPanel.zindex}"
		>
		<f:facet name="header">
			<h:outputText value="HEADER for popup" />
		</f:facet>
		<f:facet name="controls">
			<h:outputLink value="#"
                onclick="RichFaces.$('form:popup').hide(); return false;">
                    X
                </h:outputLink>
		</f:facet>
		<p>Any content might be inside the panel.</p>
        <p>Consider inclusion of the form elements into the popup or
        redefinition of <b>domElementAttachment</b> attribute.</p>
        <p>The popup panel is open and closed from the javascript function
        of component client side object. The following code <a href="#"
            onclick="RichFaces.$('form:popup').hide()">hide this panel</a>: <f:verbatim>&#35;</f:verbatim>RichFaces.$('form:popup').hide()</p>
		
		<h:inputText value="#{modalPanel.inputTextTest}" />
		
	</rich:popupPanel>

	<h:panelGrid columns="2">
	<h:outputText value="Left: "/><h:inputText value="#{modalPanel.left}"/>
	<h:outputText value="Top: "/><h:inputText value="#{modalPanel.top}"/>
	<h:outputText value="Height: "/><h:inputText value="#{modalPanel.height}"/>
	<h:outputText value="Width: "/><h:inputText value="#{modalPanel.width}"/>
	<h:outputText value="MinHeight: "/><h:inputText value="#{modalPanel.minHeight}"/>
	<h:outputText value="MinWidth: "/><h:inputText value="#{modalPanel.minWidth}"/>
	<h:outputText value="MaxHeight: "/><h:inputText value="#{modalPanel.maxHeight}"/>
	<h:outputText value="MaxWidth: "/><h:inputText value="#{modalPanel.maxWidth}"/>
	<h:outputText value="Shadow depth: "/><h:inputText value="#{modalPanel.shadowDepth}"/>
	<h:outputText value="Shadow opacity: "/><h:inputText value="#{modalPanel.shadowOpacity}"/>
	<h:outputText value="Rendered: "/><h:selectBooleanCheckbox value="#{modalPanel.rendered}"/>
	<h:outputText value="Moveable: "/><h:selectBooleanCheckbox value="#{modalPanel.moveable}"/>
	<h:outputText value="Resizeable: "/><h:selectBooleanCheckbox value="#{modalPanel.resizeable}"/>
	<h:outputText value="Autosized: "/><h:selectBooleanCheckbox value="#{modalPanel.autosized}"/>
	<h:outputText value="Show: "/><h:selectBooleanCheckbox value="#{modalPanel.show}"/>
	<h:outputText value="keepVisualState: "/><h:selectBooleanCheckbox value="#{modalPanel.keepVisualState}"/>
	</h:panelGrid>
	<h:commandButton value="Apply changes"/>
</h:form>
</ui:define>
</ui:composition>
	

