<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/output"
	template="/templates/template.xhtml">

	<ui:define name="body">
		<h:form>
			Min value: <h:selectOneMenu value="#{progressBarBean.minValue}" onchange="submit()">
				<f:selectItem itemLabel="0" itemValue="0" />
				<f:selectItem itemLabel="-50" itemValue="-50" />
			</h:selectOneMenu>

			<br />

			Value: <h:selectOneMenu value="#{progressBarBean.value}" onchange="submit()">
				<f:selectItem itemLabel="-25" itemValue="-25" />
				<f:selectItem itemLabel="0" itemValue="0" />
				<f:selectItem itemLabel="25" itemValue="25" />
				<f:selectItem itemLabel="50" itemValue="50" />
				<f:selectItem itemLabel="100" itemValue="100" />
				<f:selectItem itemLabel="150" itemValue="150" />
			</h:selectOneMenu>

			<br />

			Max value: <h:selectOneMenu value="#{progressBarBean.maxValue}" onchange="submit()">
				<f:selectItem itemLabel="50" itemValue="50" />
				<f:selectItem itemLabel="100" itemValue="100" />
			</h:selectOneMenu>
			
			<br />
			
			Label: <h:inputText value="#{progressBarBean.label}" onchange="submit()" />
			
			<br />
			
			Children rendered: <h:selectBooleanCheckbox value="#{progressBarBean.childrenRendered}" onclick="submit()" />
		
			<br />
			
			'initial' facet rendered: <h:selectBooleanCheckbox value="#{progressBarBean.initialFacetRendered}" onclick="submit()" />
		
			<br />

			'finish' facet rendered: <h:selectBooleanCheckbox value="#{progressBarBean.finishFacetRendered}" onclick="submit()" />
		
			<br />
			
			Enabled: <h:selectBooleanCheckbox value="#{progressBarBean.enabled}" onclick="submit()" />
		</h:form>      
      
		Client mode:
				
	    <h:form id="clientPBForm">

			<rich:progressBar mode="client" id="progressBar" value="#{progressBarBean.value}"
				maxValue="#{progressBarBean.maxValue}" minValue="#{progressBarBean.minValue}" label="#{progressBarBean.label}">
				
				<h:outputText value="child + " rendered="#{progressBarBean.childrenRendered}" />
				
				<f:facet name="initial">
					<h:panelGroup rendered="#{progressBarBean.initialFacetRendered}">
						<h:outputText value="In initial state" />
					</h:panelGroup>
				</f:facet>
				
				<f:facet name="finish">
					<h:panelGroup rendered="#{progressBarBean.finishFacetRendered}">
						<h:outputText value="Finished progress" />
					</h:panelGroup>
				</f:facet>
				
			</rich:progressBar>
			
			Set value via CS-API: <h:inputText size="3" onchange="RichFaces.$('clientPBForm:progressBar').setValue(this.value)" />
			
		</h:form>
      
      
		<h:form id="ajaxPBForm">
			Ajax mode:
		    <rich:progressBar id="progressBar" mode="ajax" interval="2000" value="#{progressBarBean.value}"
				maxValue="#{progressBarBean.maxValue}" minValue="#{progressBarBean.minValue}" 
				label="#{progressBarBean.value} % ~ #{progressBarBean.currentTimeAsString}" reRenderAfterComplete="progressPanel"
				onfinish="alert('\'finish\' event handler: ' + this.tagName)"
				enabled="#{progressBarBean.enabled}">
				<h:outputText value="child + " rendered="#{progressBarBean.childrenRendered}" />
				
				<f:facet name="initial">
					<h:panelGroup rendered="#{progressBarBean.initialFacetRendered}">
						<h:outputText value="initial ~ #{progressBarBean.currentTimeAsString}" />
					</h:panelGroup>
				</f:facet>
				
				<f:facet name="finish">
					<h:panelGroup rendered="#{progressBarBean.finishFacetRendered}">
						<h:outputText value="finish ~ #{progressBarBean.currentTimeAsString}" />
					</h:panelGroup>
				</f:facet>
			</rich:progressBar>
			
			Current value: <h:panelGroup id="currentValue">#{progressBarBean.value}</h:panelGroup>
			<br />
			<a4j:commandLink value="-5" action="#{progressBarBean.decreaseValueByFive}" render="currentValue" />
			
			<h:outputText value=" / " />
			
			<a4j:commandLink value="+5" action="#{progressBarBean.increaseValueByFive}" render="currentValue" />

			<h:outputText value=" / " />
			
			<a4j:commandLink value="re-render progress bar" render="progressBar" />
		</h:form>
		
		<h:form id="ajaxExtResourcePBForm">
			Ajax mode with GET requests:
		    <rich:progressBar id="progressBar" mode="ajax" interval="2000" resource="#{resource['org.richfaces.ProgressBarResource']}"
				maxValue="#{progressBarBean.maxValue}" minValue="#{progressBarBean.minValue}" 
				enabled="#{progressBarBean.enabled}">
				
				<f:facet name="initial">
					<h:panelGroup rendered="#{progressBarBean.initialFacetRendered}">
						<h:outputText value="initial" />
					</h:panelGroup>
				</f:facet>
				
				<f:facet name="finish">
					<h:panelGroup rendered="#{progressBarBean.finishFacetRendered}">
						<h:outputText value="finish" />
					</h:panelGroup>
				</f:facet>
			</rich:progressBar>
		</h:form>
	</ui:define>
</ui:composition>



