<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pn="http://richfaces.org/output">

<body>
<ui:composition template="/templates/template.xhtml">

    <ui:define name="title">Toggle Panel Example</ui:define>
    <ui:define name="body_head">Toggle Panel Example - Client &amp; Ajax SwitchType</ui:define>

    <ui:define name="body">
        <h:form id="f">
            <pn:togglePanel id="panel" activeItem="name1" switchType="client" lang="en" cycledSwitching="true" >
                <pn:togglePanelItem name="name1" rendered="false" >hello name1 client</pn:togglePanelItem>
                <pn:togglePanelItem name="name2" onenter="alert('onenter ajax');" switchType="ajax">hello name2 ajax</pn:togglePanelItem>
                <pn:togglePanelItem name="name3" switchType="server">hello name3 server</pn:togglePanelItem>
                <pn:togglePanelItem name="name4" >hello name4</pn:togglePanelItem>
            </pn:togglePanel>

            <h:outputLink>
                <pn:toggleControl targetPanel="panel" targetItem="name1" event="click" />
                name1 client
            </h:outputLink>
            |
            <h:outputLink>
                <pn:toggleControl targetPanel="panel" targetItem="name2" event="click" />
                name2 ajax
            </h:outputLink>
            |
            <h:outputLink>
                <pn:toggleControl targetPanel="panel" targetItem="name3" event="click" />
                name3 server
            </h:outputLink>
            |
            <h:outputLink>
                <pn:toggleControl targetPanel="panel" targetItem="name4" event="click" />
                name4 client disabled
            </h:outputLink>

            <br />
            <h:outputLink>
                <pn:toggleControl targetPanel="panel" targetItem="@first" event="click" />
                |&lt; first
            </h:outputLink>
            |
            <h:outputLink>
                <pn:toggleControl targetPanel="panel" targetItem="@prev" event="click" />
                &lt;- prev
            </h:outputLink>
            |
            <h:outputLink>
                <pn:toggleControl targetPanel="panel" targetItem="@next" event="click" />
                next ->
            </h:outputLink>
            |
            <h:outputLink>
                <pn:toggleControl targetPanel="panel" targetItem="@last" event="click" />
                last >|
            </h:outputLink>
        </h:form>
    </ui:define>
</ui:composition>
</body>
</html>
