<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pn="http://richfaces.org/output">

<body>
<ui:composition template="/templates/template.xhtml">

    <ui:define name="title">Toggle Panel Example</ui:define>
    <ui:define name="body_head">Toggle Panel Example - Server SwitchType</ui:define>

    <ui:define name="body">
        <f:view>
            <h:form id="f">
                <pn:togglePanel id="panel" activeItem="name1" switchType="server" lang="en">
                    <pn:togglePanelItem name="name1">hello name1</pn:togglePanelItem>
                    <pn:togglePanelItem name="name2">hello name2</pn:togglePanelItem>
                    <pn:togglePanelItem name="name3">hello name3</pn:togglePanelItem>
                </pn:togglePanel>

                <h:outputLink>
                    <pn:toggleControl targetPanel="panel" targetItem="name1" event="click" />
                    name1
                </h:outputLink>
                |
                <h:outputLink>
                    <pn:toggleControl targetPanel="panel" targetItem="name2" event="click" />
                    name2
                </h:outputLink>
                |
                <h:outputLink>
                    <pn:toggleControl targetPanel="panel" targetItem="name3" event="click" />
                    name3
                </h:outputLink>

                <br/>
                <h:outputLink>
                    <pn:toggleControl targetPanel="panel" targetItem="@first" event="click"/>
                    |&lt; first
                </h:outputLink>
                |
                <h:outputLink>
                    <pn:toggleControl targetPanel="panel" targetItem="@prev" event="click"/>
                    &lt;- prev
                </h:outputLink>
                |
                <h:outputLink>
                    <pn:toggleControl targetPanel="panel" targetItem="@next" event="click"/>
                    next ->
                </h:outputLink>
                |
                <h:outputLink>
                    <pn:toggleControl targetPanel="panel" targetItem="@last" event="click"/>
                    last >|
                </h:outputLink>
            </h:form>
        </f:view>
    </ui:define>
</ui:composition>
</body>
</html>
