<?xml version='1.0' encoding='UTF-8'?>
<!--
    JBoss, Home of Professional Open Source
    Copyright ${year}, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.
    
    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.
    
    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.
    
    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
-->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pn="http://richfaces.org/output"
      xmlns:rich="http://richfaces.org/rich">

    <h:head>
        <title>Richfaces MenuItem Test</title>
    </h:head>

<h:body>
    <h:form id="form">
	    <pn:dropDownMenu id="ddmenu" mode="ajax">
		    <f:facet name="label"> 
		        <h:panelGroup>
		            <h:graphicImage value="/images/ddmenu/copy.gif" styleClass="pic"/>
		            <h:outputText value="File"/>
		        </h:panelGroup>
		    </f:facet>
	        <pn:menuItem label="Open" id="open"/>
	        <pn:menuGroup label="Save As..." id="group">
	            <pn:menuItem label="Save" id="save">
	                <f:facet name="icon">
	                    <h:graphicImage value="/images/ddmenu/save.gif" />
	                </f:facet>                    
	            </pn:menuItem>
	            <pn:menuSeparator id="menuSeparator1" />
	            <pn:menuItem id="saveAll" label="SaveAll" action="#{ddmBean.doAction}"/>
	        </pn:menuGroup>                
	    </pn:dropDownMenu>
    </h:form>
</h:body>
</html>


