<?xml version='1.0' encoding='UTF-8'?>
<!--
    JBoss, Home of Professional Open Source
    Copyright ${year}, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.

    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.

    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
-->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pn="http://richfaces.org/output"
      xmlns:rich="http://richfaces.org/rich">

    <h:head>
        <title>Richfaces PanelMenuGroup Test</title>
    </h:head>

<h:body>
    <h:form id="f">
        <pn:panelMenu
                itemRightIcon="triangleUp"
                itemLeftIcon="triangleDown"
                itemClass="itemClass"

                itemDisabledRightIcon="chevronUp"
                itemDisabledLeftIcon="chevronDown"
                itemDisabledClass="itemDisabledClass"

                topItemRightIcon="triangle"
                topItemLeftIcon="triangle"
                topItemClass="topItemClass"
                
                topItemDisabledRightIcon="chevron"
                topItemDisabledLeftIcon="chevron"
                topItemDisabledClass="topItemDisabledClass"

                groupCollapsedRightIcon="triangleUp"
                groupExpandedRightIcon="disc"
                groupCollapsedLeftIcon="triangleDown"
                groupExpandedLeftIcon="disc"
                groupClass="groupClass"

                groupDisabledRightIcon="chevronUp"
                groupDisabledLeftIcon="chevronDown"
                groupDisabledClass="groupDisabledClass"

                topGroupCollapsedRightIcon="triangle"
                topGroupExpandedRightIcon="disc"
                topGroupCollapsedLeftIcon="triangle"
                topGroupExpandedLeftIcon="disc"
                topGroupClass="topGroupClass"

                topGroupDisabledRightIcon="chevron"
                topGroupDisabledLeftIcon="chevron"
                topGroupDisabledClass="topGroupDisabledClass"
                >

            <pn:panelMenuGroup id="panelMenuGroup-top"></pn:panelMenuGroup>
            <pn:panelMenuGroup id="panelMenuGroup-topDis" disabled="true"></pn:panelMenuGroup>
            <pn:panelMenuItem id="panelMenuItem-top">Hello</pn:panelMenuItem>
            <pn:panelMenuItem id="panelMenuItem-topDis" disabled="true">Hello</pn:panelMenuItem>
            <pn:panelMenuGroup>
                <pn:panelMenuGroup id="panelMenuGroup"></pn:panelMenuGroup>
                <pn:panelMenuGroup id="panelMenuGroup-dis" disabled="true"></pn:panelMenuGroup>
                <pn:panelMenuItem id="panelMenuItem">Hello</pn:panelMenuItem>
                <pn:panelMenuItem id="panelMenuItem-dis" disabled="true">Hello</pn:panelMenuItem>
            </pn:panelMenuGroup>
        </pn:panelMenu>
    </h:form>
</h:body>
</html>


