<?xml version='1.0' encoding='UTF-8'?>
<!--
    JBoss, Home of Professional Open Source
    Copyright ${year}, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.

    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.

    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
-->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pn="http://richfaces.org/output">

<h:head>
    <title>Richfaces Tab Panel Test</title>
</h:head>

<h:body>
    <h:form id="f">
        <pn:tabPanel id="tabPanel"
                     tabActiveHeaderClass="my-tp-active-header-class"
                     tabInactiveHeaderClass="my-tp-inactive-header-class"
                     tabDisabledHeaderClass="my-tp-disabled-header-class">
            <pn:tab id="tab"/>
            <pn:tab id="tab2" disabled="true"/>
        </pn:tabPanel>
    </h:form>
</h:body>
</html>


