<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
      <ui:composition>
       <h:form>
         <h:dataTable value="#{pages.xhtmlPages}" var="page">
           <h:column>
              <h:outputLink value="#{page.url}" ><h:outputText value="#{page.title}" escape="false"/></h:outputLink>
           </h:column>
         </h:dataTable>
       </h:form>
      </ui:composition>
</html>	