<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<ui:composition>
	<h:form>
		<rich:panel styleClass="skin-chooser">
			<a4j:repeat var="skin" value="#{skinBean.skins}"
				iterationStatusVar="iterStatus">
				<h:link value="#{skin}" includeViewParams="true">
					<f:param name="skin" value="#{skin}" />
					<f:attribute name="style"
						value="#{(skin==skinBean.skin) ? 'color:orange' : ''}" />
				</h:link>
				<h:outputText value=" | " rendered="#{not iterStatus.last}" />
			</a4j:repeat>
		</rich:panel>
	</h:form>
</ui:composition>

</html>