<html xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<h:head>
		<title>Test page</title>
	
		<h:outputScript name="jsf.js" library="javax.faces" />
		<h:outputScript name="jquery.js" />
		<h:outputScript name="richfaces.js" />
		
		<h:outputScript name="simulation.js" />
		<h:outputScript name="queue-ajax.js" />
		
		<script type="text/javascript">
        	DEFAULT_REQUEST_TIME = 1000;
        	window.simulationContext = new SimulationContext(RichFaces.QueueTest.ajax);
		</script>
	</h:head>
	<h:body>
		<f:view>
			<h:form id="form"></h:form>
			<div id="richfaces.log"></div>
		</f:view>
	</h:body>	
</html>  
