<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:csv="http://richfaces.org/csv"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:composition template="/layout/template.xhtml">
	<ui:param name="title" value="Developer example" />
	<!-- content -->
	<ui:define name="content">
	  <h2>Developer example</h2>
	</ui:define>
</ui:composition>
</html>