<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<h:commandButton value="Call the popup">
		<rich:componentControl target="popup" operation="show" />
	</h:commandButton>
	<rich:popupPanel id="popup" modal="true" resizeable="true"
		onmaskclick="#{rich:component('popup')}.hide()">
		<f:facet name="header">
			<h:outputText value="Simple popup panel" />
		</f:facet>
		<f:facet name="controls">
			<h:outputLink value="#"
				onclick="#{rich:component('popup')}.hide(); return false;">
					X
				</h:outputLink>
		</f:facet>
		<p>You can also check and trigger events if the use clicks outside of the
		panel.</p>
		<p>In this example clicking outside closes the panel.</p>
	</rich:popupPanel>
</ui:composition>