<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:input="http://richfaces.org/input"
	xmlns:misc="http://richfaces.org/misc">
<f:view>
	<h:head></h:head>
	<h:body>
		<h:form>
		 <h:inputText value="${not true}"/>
		</h:form>
	</h:body>
</f:view>
</html>