<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:fn="http://richfaces.org/misc">
<f:view>
	<h:head></h:head>
	<h:body>
		<h:form>
			<h:outputLabel value="Role name:" for="roleName" />
			<h:inputText value="#{userBean.rolename}" id="roleName" />
			<br />
			<h:commandLink value="Apply role name" />
		</h:form>

		<f:subview id="view">
			<h:form id="myForm">
				<h:inputText id="input" value="abc" />
			</h:form>
		</f:subview>

		<h:outputText value="#{fn:clientId('input')}" />
		<br />
		<h:outputText value="#{fn:element('input')}" />
		<br />
		<h:outputText value="#{fn:component('input')}" />
		<br />
		<h:outputText value="#{fn:findComponent('input').value}" />
		<br />
		<h:outputText value="#{fn:toScript('input')}" />
		<br />
				
		Roles:
		<h:outputText rendered="#{fn:isUserInRole('admin, user')}"
			value="admin or user" />
		<br />
		<h:outputText rendered="#{fn:isUserInRole('admin')}" value="admin" />
		<br />
		<h:outputText rendered="#{fn:isUserInRole('user')}" value="user" />
		<br />
	</h:body>
</f:view>
</html>
