<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pn="http://richfaces.org/output">

<body>
<ui:composition template="/templates/template.xhtml">

    <ui:define name="scripts">
        <h:outputScript name="qunit/qunit.js" />
        <h:outputScript name="qunit/richfaces-qunit.js" />

        <h:outputStylesheet name="qunit/qunit.css" />
    </ui:define>

    <ui:define name="title">Accordion Example</ui:define>
    <ui:define name="body_head">Accordion Example</ui:define>

    <ui:define name="body">
        <p>Page</p>

        <h:form id="f" style="border:blue solid thin;">
            <pn:accordion id="panel" style="padding: 0px; height: 400px; width: 500px;" switchType="client">
                <pn:accordionItem header="label 1">
                    <f:facet name="headerInactive">headerInactive 1</f:facet>
                    <f:facet name="headerActive">headerActive 1</f:facet>
                    <f:facet name="header">headerDisable 1</f:facet>
                    content 1
                </pn:accordionItem>
                <pn:accordionItem header="label 2" disabled="true">
                    <f:facet name="headerInactive">headerInactive 2</f:facet>
                    <f:facet name="header">headerActive 2</f:facet>
                    <f:facet name="headerDisable">headerDisable 2</f:facet>
                    content 2
                </pn:accordionItem>
                <pn:accordionItem header="label 3">
                    <f:facet name="header">headerInactive 3</f:facet>
                    <f:facet name="headerActive">headerActive 3</f:facet>
                    <f:facet name="headerDisable">headerDisable 3</f:facet>
                    content 3
                </pn:accordionItem>
            </pn:accordion>

            <h:outputLink>
                <pn:toggleControl targetPanel="panel" targetItem="@first" event="click"/>
                |&lt; first
            </h:outputLink>
            |
            <h:outputLink>
                <pn:toggleControl targetPanel="panel" targetItem="@prev" event="click"/>
                &lt;- prev
            </h:outputLink>
            |
            <h:outputLink>
                <pn:toggleControl targetPanel="panel" targetItem="@next" event="click"/>
                next ->
            </h:outputLink>
            |
            <h:outputLink>
                <pn:toggleControl targetPanel="panel" targetItem="@last" event="click"/>
                last >|
            </h:outputLink>

        </h:form>

        <p>Result</p>
        <div>
            <ol id="qunit-tests"></ol>

            <div id="testDiv" style="margin-top:10px; border:1px solid #a0a0a0">Main Test Div</div>
        </div>
        <h:outputScript name="tests/richfaces-accordion-headers-qunit.js" />
    </ui:define>
</ui:composition>
</body>
</html>

