<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
    JBoss, Home of Professional Open Source
    Copyright ${year}, Red Hat, Inc. and individual contributors
    by the @authors tag. See the copyright.txt in the distribution for a
    full listing of individual contributors.
    
    This is free software; you can redistribute it and/or modify it
    under the terms of the GNU Lesser General Public License as
    published by the Free Software Foundation; either version 2.1 of
    the License, or (at your option) any later version.
    
    This software is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
    Lesser General Public License for more details.
    
    You should have received a copy of the GNU Lesser General Public
    License along with this software; if not, write to the Free
    Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
    02110-1301 USA, or see the FSF site: http://www.fsf.org.
-->


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pn="http://richfaces.org/output">

<body>
<ui:composition template="/templates/template.xhtml">

    <ui:define name="scripts">
        <h:outputScript name="qunit/qunit.js"/>
        <h:outputScript name="qunit/richfaces-qunit.js"/>

        <h:outputStylesheet name="qunit/qunit.css"/>
    </ui:define>

    <ui:define name="title">PanelMenu Example</ui:define>
    <ui:define name="body_head">PanelMenu Example</ui:define>

    <ui:define name="body">
        <p>Page</p>

        <h:outputText id="date-g1" value="Current date-g1 #{modalPanel.date}" /><br />
        <h:outputText id="date-i"  value="Current date-i  #{modalPanel.date}" /><br />
        <h:outputText id="date-p"  value="Current date-p  #{modalPanel.date}" /><br />

        <h:form id="f" style="border:blue solid thin;">
            <pn:panelMenu
                    id="panelMenu"
                    expandSingle="true"
                    itemMode="ajax"
                    groupMode="ajax"
                    activeItem="myFavariteIten"
                    itemDisabledLeftIcon="disc"
                    groupDisabledLeftIcon="disc"
                    topItemDisabledLeftIcon="disc"
                    topGroupDisabledLeftIcon="disc"
                    itemChangeListener="#{modalPanel.itemChangeEventListener}"
                    expandEvent="dblclick"
                    collapseEvent="dblclick"
                    execute="date-p" render="date-p"
                    >
                
                <pn:panelMenuGroup label="Group 1" selectable="true" execute="date-g1" render="date-g1" mode="ajax" action="#{modalPanel.action}">
                    <f:param name="alexParam01" value="alexValue01" />
                    <f:param name="alexParam02" value="alexValue02" />
                    <f:param name="alexParam03" value="alexValue03" />
                    <f:param name="alexParam04" value="alexValue04" />


                    <pn:panelMenuItem execute="date-i" render="date-i" mode="server" action="#{modalPanel.action}">
                        <f:param name="alexParam11" value="alexValue11"/>
                        <f:param name="alexParam12" value="alexValue12"/>
                        <f:param name="alexParam13" value="alexValue13"/>
                        <f:param name="alexParam14" value="alexValue14"/>
                        Item 1.1
                    </pn:panelMenuItem>
                    <pn:panelMenuItem execute="date-i" render="date-i" mode="server" action="#{modalPanel.action}">Item 1.2</pn:panelMenuItem>
                    <pn:panelMenuItem execute="date-i" render="date-i" mode="server" action="#{modalPanel.action}">Item 1.3</pn:panelMenuItem>
                </pn:panelMenuGroup>
                <pn:panelMenuGroup
                        label="Group 2"
                        leftCollapsedIcon="triangle"
                        leftExpandedIcon="triangleDown">
                    <pn:panelMenuItem label="Item 2.1" />
                    <pn:panelMenuGroup
                            label="Group 2.2"
                            leftCollapsedIcon="chevron"
                            leftExpandedIcon="chevronDown">
                        <pn:panelMenuItem label="Item 2.2.1" action="#{modalPanel.action}"/>
                        <pn:panelMenuItem label="Item 2.2.2" name="myFavariteIten" />
                        <pn:panelMenuItem label="Item 2.2.3"/>
                    </pn:panelMenuGroup>
                    <pn:panelMenuItem label="Item 2.3"/>
                </pn:panelMenuGroup>
                <pn:panelMenuGroup label="Group 3" >
                    <pn:panelMenuItem label="Item 3.1" disabled="true"/>
                    <pn:panelMenuItem label="Item 3.2"/>
                    <pn:panelMenuItem label="Item 3.3"/>
                    <pn:panelMenuGroup label="Group 3.4" disabled="true">
                        <pn:panelMenuItem label="Item 3.4.1" />
                        <pn:panelMenuItem label="Item 3.4.2" name="mySecondFavariteIten"/>
                        <pn:panelMenuItem label="Item 3.4.3"/>
                    </pn:panelMenuGroup>
                </pn:panelMenuGroup>
                <pn:panelMenuGroup label="Group 4">
                    <pn:panelMenuItem label="Item 4.1" />
                    <pn:panelMenuItem label="Item 4.2" />
                    <pn:panelMenuItem label="Item 4.3" />
                </pn:panelMenuGroup>
                <pn:panelMenuGroup label="Group 5" disabled="true" />
            </pn:panelMenu>
        </h:form>

        <p>Result</p>

        <div>
            <ol id="qunit-tests"></ol>

            <div id="testDiv" style="margin-top:10px; border:1px solid #a0a0a0">Main Test Div</div>
        </div>
        <h:outputScript name="tests/richfaces-panel-menu-qunit.js"/>
    </ui:define>
</ui:composition>
</body>
</html>

