<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pn="http://richfaces.org/output">

<body>
<ui:composition template="/templates/template.xhtml">

    <ui:define name="scripts">
        <h:outputScript name="qunit/qunit.js" />
        <h:outputScript name="qunit/richfaces-qunit.js" />

        <h:outputStylesheet name="qunit/qunit.css" />
    </ui:define>

    <ui:define name="title">Tab Panel Example</ui:define>
    <ui:define name="body_head">Tab Panel Example</ui:define>

    <ui:define name="body">
        <p>Page</p>

        <h:form id="f">
            <pn:tabPanel id="panel" switchType="ajax">
                <pn:tab header="tab1 header">
                    Content will be here. Content will be here. Content will be here. Content will be here. Content will be here. Content will be here. Content will be here. Content will be here. Content will be here. Content will be here. Content will be here. Content will be here. Content will be here. Content will be here. 
                </pn:tab>
                <pn:tab header="tab2 header">
                    He he
                </pn:tab>
            </pn:tabPanel>
        </h:form>

        <p>Result</p>
        <div>
            <ol id="qunit-tests"></ol>

            <div id="testDiv" style="margin-top:10px; border:1px solid #a0a0a0">Main Test Div</div>

        </div>
        <h:outputScript name="tests/richfaces-tab-panel-qunit.js" />
    </ui:define>
</ui:composition>
</body>
</html>

