<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<h:panelGrid columns="2">
		<h:form>
			<fieldset style="margin-bottom: 10px;"><legend><h:outputText value="Selection Mode " /></legend>
			<h:selectOneRadio value="#{extTableSelectionBean.selectionMode}">
				<f:selectItem itemLabel="Single" itemValue="single"/>
				<f:selectItem itemLabel="Multiple" itemValue="multiple"/>
				<f:selectItem itemLabel="Multiple Keyboard-free" itemValue="multipleKeyboardFree"/>
				<a4j:ajax render="table, res"/>
			</h:selectOneRadio>
			</fieldset>
			<rich:extendedDataTable
				value="#{extTableSelectionBean.inventoryItems}" var="car"
				selection="#{extTableSelectionBean.selection}" id="table"
				frozenColumns="2" style="height:300px; width:500px;" selectionMode="#{extTableSelectionBean.selectionMode}">
				<a4j:ajax execute="@form"
				event="selectionchange"
				listener="#{extTableSelectionBean.selectionListener}" render=":res" />
				<f:facet name="header"> 
					<h:outputText value="Cars marketplace" />
				</f:facet>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="vendor" />
					</f:facet>
					<h:outputText value="#{car.vendor}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Model" />
					</f:facet>
					<h:outputText value="#{car.model}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Price" />
					</f:facet>
					<h:outputText value="#{car.price}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Mileage" />
					</f:facet>
					<h:outputText value="#{car.mileage}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="VIN Code" />
					</f:facet>
					<h:outputText value="#{car.vin}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Items stock" />
					</f:facet>
					<h:outputText value="#{car.stock}" />
				</rich:column>
				<rich:column>
					<f:facet name="header">
						<h:outputText value="Days Live" />
					</f:facet>
					<h:outputText value="#{car.daysLive}" />
				</rich:column>
			</rich:extendedDataTable>
		</h:form>
		<a4j:outputPanel id="res">
			<rich:panel header="Selected Rows:"
				rendered="#{not empty extTableSelectionBean.selectionItems}">
				<rich:list type="unordered"
					value="#{extTableSelectionBean.selectionItems}" var="sel">
					<h:outputText value="#{sel.vendor} - #{sel.model} - #{sel.price}" />
				</rich:list>
			</rich:panel>
		</a4j:outputPanel>
	</h:panelGrid>
</ui:composition>