<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pa="http://richfaces.org/panels">

<body>
<ui:composition template="/templates/template.xhtml">

    <ui:define name="title">RichFaces Sample</ui:define>

    <ui:define name="body">
        look at left
    </ui:define>

    <div style="top: auto;"></div>
</ui:composition>
</body>
</html>
