<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<p>This example demonstrates content filtering for RichFaces table components.
	A variety of controls are used in the header facet of the table to filter the contents
	of the columns below them. The <b>value</b> attributes of these controls adjust the 
	values linked to the <b>filterValue</b> attribute of the columns.
	The <b>filterExpression</b> attribute defines the expression used to filter the column.</p>
	<ui:include src="#{demoNavigator.sampleIncludeURI}" />
	<ui:include src="/templates/includes/source-view.xhtml">
		<ui:param name="src" value="#{demoNavigator.sampleIncludeURI}" />
		<ui:param name="sourceType" value="xhtml" />
		<ui:param name="openLabel" value="View Source" />
		<ui:param name="hideLabel" value="Hide Source" />
	</ui:include>
	<ui:include src="/templates/includes/source-view.xhtml">
		<ui:param name="src" value="/WEB-INF/src/org/richfaces/demo/tables/CarsFilteringBean.java" />
		<ui:param name="sourceType" value="java" />
		<ui:param name="openLabel" value="View CarsFilteringBean Source" />
		<ui:param name="hideLabel" value="Hide CarsFilteringBean Source" />
	</ui:include>	
</ui:composition>
</html>
