<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<style type="text/css">
		.col1 { vertical-align:top;	}
		.col2 {	vertical-align:top;	width:450px; }
		.wizard { width:400px; }
		.wform td {	vertical-align:top;	}
		.wfcol1 { text-align: right; white-space:nowrap;}
		.wfcol2 { }
		.wfcol3 { }
		.s1row td { height:30px; }
		.rich-message { color:red;	}
		
		.navPanel {
			position:absolute;
			bottom:0;
			height:23px;
			margin:0;
			padding:2px;
		}

	</style>
	<br/>
	<h:panelGrid width="100%" columns="2" columnClasses="col1,col2">
		<rich:panel styleClass="wizard">
			<f:facet name="header">
			<h:outputText value="Using rich:togglePanel for Wizard-like behaviour" />
			</f:facet>
			<h:form>
				<rich:togglePanel switchType="ajax">
					<rich:togglePanelItem>
						<ui:include src="/richfaces/togglePanel/samples/wstep1.xhtml" />
					</rich:togglePanelItem>
					<rich:togglePanelItem>
						<ui:include src="/richfaces/togglePanel/samples/wstep2.xhtml" />
					</rich:togglePanelItem>
					<rich:togglePanelItem>
						<ui:include src="/richfaces/togglePanel/samples/finalStep.xhtml" />
					</rich:togglePanelItem>
				</rich:togglePanel>
			</h:form>
		</rich:panel>
	
	</h:panelGrid>
	<br/>
</ui:composition>