<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:fu="http://richfaces.org/input">
<!--
JBoss, Home of Professional Open Source
Copyright ${year}, Red Hat, Inc. and individual contributors
by the @authors tag. See the copyright.txt in the distribution for a
full listing of individual contributors.


This is free software; you can redistribute it and/or modify it
under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation; either version 2.1 of
the License, or (at your option) any later version.


This software is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.


You should have received a copy of the GNU Lesser General Public
License along with this software; if not, write to the Free
Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
02110-1301 USA, or see the FSF site: http://www.fsf.org.
-->
	<h:head>
		<title>Richfaces FileUpload Demo</title>
		<style>
		<!--
			.fu .rf-fu-lst {
				height: 500px;
			}
		-->
		</style>
	</h:head>
	<h:body>
		<h:form id="form">
			<h:outputText value="Skin: "/>
			<h:selectOneMenu value="#{skinBean.skin}" onchange="submit();">
				<f:selectItems value="#{skinBean.skins}"/>
			</h:selectOneMenu>
			<br />
			<script type="text/javascript">
			<!--
			var onfilesubmit = function (event) {
				var data = event.rf.data;
				RichFaces.log.info(jQuery("<span><b>onfilesubmit: </b>" + data.name + " " + data.state + "</span>"));
			};
			
			var onuploadcomplete = function (event) {
				var data = event.rf.data;
				var str = "";
				RichFaces.log.info(jQuery("<b>onuploadcomplete:</b>"));
				for (var i in data) {
					var item = data[i];
					RichFaces.log.info("    " + item.name + " " + item.state);
				}
			};
			//-->
			</script>
			<fu:fileUpload id="fu" acceptedTypes="#{fileUploadBean.acceptedTypes}" disabled="#{fileUploadBean.disabled}"
					fileUploadListener="#{fileUploadBean.listener}" noDuplicate="#{fileUploadBean.noDuplicate}"
					onfilesubmit="onfilesubmit(event)" onuploadcomplete="onuploadcomplete(event)"/>
			<h:outputText value="File name:" />
			<a4j:outputPanel ajaxRendered="true">#{fileUploadBean.file.name}</a4j:outputPanel>
            <br />
            <h:outputText value="Attribute name: "/>
            <h:inputText id="name"/>
            <h:outputText value="Attribute value: "/>
            <h:inputText id="value"/>
            <h:commandButton value="Update attribute">
                    <f:ajax render="fu" execute="name value" listener="#{fileUploadBean.updateAttribute}"/>
            </h:commandButton>
            <br />
            <h:outputText value="AcceptedTypes: " />
            <h:inputText value="#{fileUploadBean.acceptedTypes}">
                    <f:ajax render="fu"/>
            </h:inputText>
            <br />
            <h:outputText value="Disabled: " />
            <h:selectBooleanCheckbox value="#{fileUploadBean.disabled}">
                    <f:ajax render="fu"/>
            </h:selectBooleanCheckbox>
            <br />
            <h:outputText value="NoDuplicate: " />
            <h:selectBooleanCheckbox value="#{fileUploadBean.noDuplicate}">
                    <f:ajax render="fu"/>
            </h:selectBooleanCheckbox>
            <br />
			<input type="submit" />
			<a4j:log />
		</h:form>
	</h:body>
</html>
