<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:in="http://richfaces.org/input"
    xmlns:misc="http://richfaces.org/misc"
    xmlns:a4j="http://richfaces.org/a4j">
<f:view contentType="text/html" />

<h:head>
	<title>InplaceSelect</title>
</h:head>


<h:body>
	<h:form id="form">
		<div id="scroll" style="width: 500px; height:260px; overflow:auto;"  >
			<fieldset>
				<legend>InplaceSelect Test App</legend>
				Fresh off his victory in the Florida primary, Sen. John McCain is poised to take another big prize. Former
				<in:inplaceSelect id='ii'  defaultLabel="hello!" value="#{inputBean.value}" openOnEdit="true" saveOnSelect="false"
                     activeClass="activeClass"
                     changedClass="changedClass"
                     disabledClass="disabledClass"
                     styleClass="styleClass"
                     disabled="false"

                        >
					<f:selectItem itemLabel="Label#1" itemValue="Value#1"/>
					<f:selectItem itemLabel="Label#2" itemValue="Value#2"/>
					<f:selectItem itemLabel="Label#3" itemValue="Value#3"/>
					<f:selectItem itemLabel="Label#4" itemValue="Value#4"/>
					<f:selectItem itemLabel="Label#5" itemValue="Value#5"/>
					<f:selectItem itemLabel="Label#6" itemValue="Value#6"/>
					<f:selectItem itemLabel="Label#7" itemValue="Value#7"/>
					<f:selectItem itemLabel="Label#8" itemValue="Value#8"/>
					<f:selectItem itemLabel="Label#9" itemValue="Value#9"/>
					<f:selectItem itemLabel="Label#10" itemValue="Value#10"/>
					<f:selectItem itemLabel="Label#11" itemValue="Value#11"/>
					<f:selectItem itemLabel="Label#12" itemValue="Value#12"/>
					<f:selectItem itemLabel="Label#13" itemValue="Value#13"/>
					<f:selectItem itemLabel="Label#14" itemValue="Value#14"/>
				</in:inplaceSelect>
				
				 Mayor Rudy Giuliani plans to drop out and endorse McCain, two GOP sources said. That would give McCain added momentum heading into a debate Wednesday and next week's Super Tuesday contests 
			</fieldset>
            <ul>
                <li><h:commandButton value="submit"></h:commandButton></li>
                <li> <h:commandButton value="ShowPopup" onclick="#{misc:component('ii')}.showPopup(); return false;"/></li>
                <li></li>
            </ul>


		</div>
		<h:panelGroup id="out">
			<h:outputText value="Entered Value: #{inputBean.value}"/>
		</h:panelGroup>
		
		<!--a4j:poll render="is" interval="2000" />
		<in:inplaceSelect id='is'  defaultLabel="Edit Text" value="#{inputBean.value}" openOnEdit="true" saveOnSelect="false">
			<f:selectItem itemLabel="Label#1" itemValue="Value#1"/>
			<f:selectItem itemLabel="Label#2" itemValue="Value#2"/>
		</in:inplaceSelect-->
	</h:form>
</h:body>
</html>
