<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:in="http://richfaces.org/input"
      xmlns:misc="http://richfaces.org/misc">
<f:view contentType="text/html"/>

<h:head>
    <title>Select</title>
    <style type="text/css">
        .my-select-class {
            font-weight: bold;
        }
    </style>
</h:head>


<h:body>
    <h:form id="form">
        <div id="scroll" style="width: 400px; height:100px; overflow:auto;">
            <fieldset>
                <legend>Select Test App</legend>
                <in:select id="select" openOnEdit="true" enableManualInput="true" defaultLabel="Select Value ..."
                           value="#{inputBean.value}" style="font-size: 2em;" styleClass="my-select-class"
                           title="Title">
                    <f:selectItem itemLabel="Label#1" itemValue="Value#1"/>
                    <f:selectItem itemLabel="Label#2" itemValue="Value#2"/>
                    <f:selectItem itemLabel="Label#3" itemValue="Value#3"/>
                    <f:selectItem itemLabel="Label#4" itemValue="Value#4"/>
                    <f:selectItem itemLabel="Label#5" itemValue="Value#5"/>
                    <f:selectItem itemLabel="Label#6" itemValue="Value#6"/>
                    <f:selectItem itemLabel="Label#7" itemValue="Value#7"/>
                    <f:selectItem itemLabel="Label#8" itemValue="Value#8"/>
                    <f:selectItem itemLabel="Label#9" itemValue="Value#9"/>
                    <f:selectItem itemLabel="Label#10" itemValue="Value#10"/>
                    <f:selectItem itemLabel="Label#11" itemValue="Value#11"/>
                    <f:selectItem itemLabel="Label#12" itemValue="Value#12"/>
                    <f:selectItem itemLabel="Label#13" itemValue="Value#13"/>
                    <f:selectItem itemLabel="Label#14" itemValue="Value#14"/>
                    <f:ajax event="change" execute="@form" render="out"/>
                </in:select>
            </fieldset>
            <h:commandButton value="submit">
                <f:ajax execute="@form" render="select out"/>
            </h:commandButton>
        </div>

        <ul>
            <li>
                <h:commandButton value="ShowPopup"
                                 onclick="#{misc:component('select')}.showPopup(); return false;"/>
            </li>
            <li>
                <h:commandButton value="HidePopup"
                                 onclick="#{misc:component('select')}.hidePopup(); return false;"/>
            </li>
        </ul>
        <h:panelGroup id="out">
            <h:outputText value="Selected Value: #{inputBean.value}"/>
        </h:panelGroup>
    </h:form>
</h:body>
</html>
