<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j">
<f:view contentType="text/html" />

<h:head>
	<title>Richfaces Calendar</title>
</h:head>

<h:body>
	<h:form id="form">
		<h:messages/>

		
		<a4j:repeat id="outer" value="#{dataBean.listDataItems}" var="item">
			<a4j:repeat id="inner" value="#{item.list}" var="inner">
				<h:inputText id="input" value="#{inner.status}" />
			</a4j:repeat>
			<br/>
		</a4j:repeat>

		<h:commandLink id="regular" value="Regular submit" />
		<br/>
		<a4j:commandLink id="ajax" value="Ajax submit" render="form" />

	</h:form>
</h:body>
</html>
