<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j">
<f:view contentType="text/html">
	<f:metadata>
		<f:viewParam name="skin" value="#{skinBean.skin}" />
	</f:metadata>
	<h:head>
		<title><ui:define name="title">Application Title</ui:define></title>
		<meta http-equiv="content-type" content="text/xhtml; charset=UTF-8" />
	</h:head>

	<h:body>
		<ui:include src="/templates/includes/skin-chooser.xhtml" />
		<ui:insert name="body">Default content</ui:insert>
	</h:body>
</f:view>
</html>
