<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:csv="http://richfaces.org/csv"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:composition template="/layout/template.xhtml">
	<ui:param name="title" value="JSF validator by AJAX" />
	<!-- Page header -->
	<ui:define name="header">
		<h1>&lt;csv:validator&gt; usage</h1>
	</ui:define>
	<!-- content -->
	<ui:define name="content">
		<h:form id="form">
			<h:inputText id="text" value="#{test.value}">
				<f:validator validatorId="custom" />
				<csv:validator event="blur" />
			</h:inputText>
			<h:outputText id="out" value="#{test.value}"></h:outputText>
			<csv:message id="uiMessage" for="text" />
			<h:commandButton value="Submit form"/>
            <a4j:commandButton value="AJAX Submit" render="out"/>
		</h:form>
		<csv:messages />
	</ui:define>
</ui:composition>
</html>
