<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:csv="http://richfaces.org/csv"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:composition template="/layout/template.xhtml">
	<ui:param name="title" value="JSF validator by client and AJAX" />
	<!-- Page header -->
	<ui:define name="header">
		<h1>Client validation with AJAX callback</h1>
	</ui:define>
	<!-- content -->
	<ui:define name="content">
		<h:form id="form">
		<h:panelGrid columns="4">
		    <h:outputLabel for="text" value="Pattern ^ab[1-3]*$ and length 0-3"/>
			<h:inputText id="text" value="#{test.value}">
			    <f:validateRegex pattern="^ab[1-3]*$"/>
				<f:validator validatorId="custom" />
				<csv:validator event="blur" />
			</h:inputText>
			<h:outputText id="out" value="#{test.value}"></h:outputText>
			<csv:message id="uiMessage" for="text" />
            <h:outputLabel for="number" value="Four annotations for number, with custom msg"/>
            <h:inputText id="number" value="#{test.numbers}" converterMessage="Nor a number" validatorMessage="Wrong number">
                <csv:validator event="blur"/>
            </h:inputText>
            <h:outputText id="outNum" value="#{test.numbers}"></h:outputText>
            <csv:message id="uiNumMessage" for="number" />
			</h:panelGrid>
			<h:commandButton value="Submit form"/>
			<h:graphicImage value="/bg.jpg">
            <a4j:ajax event="click" value="AJAX Submit" render="out" onbeforesubmit="alert('Before AJAX')"/>
            </h:graphicImage>
		</h:form>
		<csv:messages />
	</ui:define>
</ui:composition>
</html>
