<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:csv="http://richfaces.org/csv"
    xmlns:c="http://java.sun.com/jsp/jstl/core">
<ui:composition template="/layout/template.xhtml">
	<ui:param name="title" value="&lt;csv:graphValidator&gt; usage" />
	<!-- Page header -->
	<ui:define name="header">
		<h1>&lt;csv:graphValidator&gt; usage</h1>
	</ui:define>
	<!-- content -->
	<ui:define name="content">
	<h:form id="form">
			<csv:graphValidator value="#{graphValidatorBean}" id="validator">	
			<h:panelGrid columns="3">
  				<h:outputLabel for="value0" value="First value:" />
				<h:inputText id="value0" value="#{graphValidatorBean.first}" label="First" />
				<csv:message for="value0"/>
  				<h:outputLabel for="value1" value="Second value:" />
				<h:inputText id="value1" value="#{graphValidatorBean.second}" label="First" />
				<csv:message for="value1"/>
  				<h:outputLabel for="value2" value="Third value:" />
				<h:inputText id="value2" value="#{graphValidatorBean.third}" label="First" />
				<csv:message for="value2"/>
  				<h:outputLabel for="total" value="Total:" />
				<h:outputText id="total" value="#{graphValidatorBean.summ}"/>
			</h:panelGrid>
					<h:commandButton value="Submit" action="#{graphValidatorBean.action}"></h:commandButton>
					<h:outputText id="result" value="#{graphValidatorBean.actionResult}"/>
					</csv:graphValidator>
			<csv:messages />
		</h:form>
	</ui:define>
</ui:composition>
</html>