<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:rich="http://richfaces.org/csv"
	xmlns:rc="http://java.sun.com/jsf/composite/org.richfaces.showcase"
	template="/layout/template.xhtml">
	<ui:param name="title" value="&lt;csv:graphValidator&gt; password validation" />
	<!-- Page header -->
	<ui:define name="header">
		<style>
.red {
	color: red;
}

.green {
	color: green;
}
</style>
		<h1>&lt;csv:graphValidator&gt; usage, password validation</h1>
	</ui:define>
	<!-- content -->
	<ui:define name="content">
                    <h:panelGrid columns="2">
                       <f:facet name="head">
                           <h:outputText value="Actual values in the model"/>
                       </f:facet>
                       <h:outputText value="Password:"/><h:outputText value="#{passwordValidationBean.password}"/>
                       <h:outputText value="Confirmation:"/><h:outputText value="#{passwordValidationBean.confirm}"/>
                    </h:panelGrid>
		<h:form>
		Simple
		<rich:graphValidator value="#{passwordValidationBean}" id="gv">
					<rich:messages />
					<h:panelGrid columns="3">
						<h:outputText value="Enter new password:" />
						<h:inputSecret value="#{passwordValidationBean.password}"
							id="pass" />
						<rich:message for="pass" />
						<h:outputText value="Confirm the new password:" />
						<h:inputSecret value="#{passwordValidationBean.confirm}" id="conf" />
						<rich:message for="conf" />
					</h:panelGrid>

					<!-- 
				<rc:test password="#{passwordValidationBean.password}" confirmation="#{passwordValidationBean.confirm}" />
				<rc:test1 bean="#{passwordValidationBean}" />
				-->


					<h:commandButton value="Store changes"
						action="#{passwordValidationBean.storeNewPassword}" />
				</rich:graphValidator>
		</h:form>
		<hr />
		<h:form>
		Test
		<rich:graphValidator value="#{passwordValidationBean}" id="gv">
					<rich:messages />
					<rc:test password="#{passwordValidationBean.password}"
						confirmation="#{passwordValidationBean.confirm}" />


					<h:commandButton value="Store changes"
						action="#{passwordValidationBean.storeNewPassword}" />
				</rich:graphValidator>
		</h:form>
		<hr />
		<h:form>
		Test A
		<rich:graphValidator value="#{passwordValidationBean}" id="gv">
					<rich:messages />
					<rc:test />

					<h:commandButton value="Store changes"
						action="#{passwordValidationBean.storeNewPassword}" />
				</rich:graphValidator>
		</h:form>
		<hr />
		<h:form>
		Test1
		<rich:graphValidator value="#{passwordValidationBean}" id="gv">
					<rich:messages />
					<rc:test1 bean="#{passwordValidationBean}" />
					<h:commandButton value="Store changes"
						action="#{passwordValidationBean.storeNewPassword}" />
				</rich:graphValidator>
		</h:form>
	</ui:define>
</ui:composition>