<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:rich="http://richfaces.org/csv"
	>
<head>
<title>panel</title>
</head>
<body>

<composite:interface>
</composite:interface>

<composite:implementation>
				<h:panelGrid columns="3">
					<h:outputText value="Enter new password:" />
					<h:inputSecret value="#{cc.attrs.password}" id="pass" />
					<rich:message for="pass" />
					<h:outputText value="Confirm the new password:" />
					<h:inputSecret value="#{cc.attrs.confirmation}" id="conf" />
					<rich:message for="conf" />
				</h:panelGrid>
</composite:implementation>
</body>
</html>
