<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:rich="http://richfaces.org/csv"
	>
<head>
<title>panel</title>
</head>
<body>

<composite:interface>
	<composite:valueHolder targets="pass,conf" name="xxx" />
</composite:interface>

<composite:implementation>
	#{cc.attrs.bean} a
                    <h:panelGrid columns="2">
                       <f:facet name="head">
                           <h:outputText value="Actual values in the model"/>
                       </f:facet>
                       <h:outputText value="Password:"/><h:outputText value="#{cc.attrs.bean.password}"/>
                       <h:outputText value="Confirmation:"/><h:outputText value="#{cc.attrs.bean.confirm}"/>
                    </h:panelGrid>

				<h:panelGrid columns="3">
					<h:outputText value="Enter new password:" />
					<h:inputSecret value="#{cc.attrs.bean.password}" id="pass" />
					<rich:message for="pass" />
					<h:outputText value="Confirm the new password:" />
					<h:inputSecret value="#{cc.attrs.bean.confirm}" id="conf" />
					<rich:message for="conf" />
				</h:panelGrid>
</composite:implementation>
</body>
</html>
