<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j">

<ui:composition>
	<p>This is a slightly more complex use-case for <b>arj:ajax</b> involving 
	dependent select components. When you choose a value from the first select 
	component, the second select component is rendered with dynamic content 
	based on you first choice.  </p>
	<ui:include src="#{demoNavigator.sampleIncludeURI}" />
	<ui:include src="/templates/includes/source-view.xhtml">
		<ui:param name="src" value="#{demoNavigator.sampleIncludeURI}" />
		<ui:param name="sourceType" value="xhtml" />
		<ui:param name="openLabel" value="View Source" />
		<ui:param name="hideLabel" value="Hide Source" />
	</ui:include>
	<ui:include src="/templates/includes/source-view.xhtml">
		<ui:param name="src" value="/WEB-INF/src/org/richfaces/demo/common/SelectsBean.java" />
		<ui:param name="sourceType" value="java" />
		<ui:param name="openLabel" value="View Bean Source" />
		<ui:param name="hideLabel" value="Hide Bean Source" />
	</ui:include>
	
</ui:composition>

</html>