<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">
	<h:form>
		<rich:panel>
			<f:facet name="header">
				<h:outputText value="Change Demo Application Skin To: " />
			</f:facet>
			<h:panelGrid columns="2">
				<h:link value="DeepMarine" includeViewParams="true">
					<a4j:param name="skin" value="deepMarine"
						assignTo="#{skinBean.skin}" />
				</h:link>

				<h:link value="BlueSky" includeViewParams="true">
					<a4j:param name="skin" value="blueSky" assignTo="#{skinBean.skin}" />
				</h:link>
			</h:panelGrid>

		</rich:panel>
	</h:form>
</ui:composition>