<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/templates/template.xhtml">
	<ui:define name="body">
		<rich:panel header="Connect to IRC">
			<h:form>
				<rich:messages style="color:red" />
				<h:panelGrid columns="2">
					<h:outputText value="Your nickname:" />
					<h:inputText required="true" id="name" value="#{chatBean.userName}" />
					<h:outputText value="Channel:" />
					<h:outputText value="RichFaces" style="font-weight:bold"/>					
					<h:outputText value="Server:" />
					<h:outputText value="irc.freenode.org" style="font-weight:bold"/>					
				</h:panelGrid>
				<h:commandButton value="Connect" action="#{chatBean.connect}" />
			</h:form>
		</rich:panel>
	</ui:define>
</ui:composition>