<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:a4j="http://richfaces.org/a4j">
	
	<h:form id="form">
		<a4j:commandLink id="link">
			<a4j:attachQueue id="attachQueue" />
		</a4j:commandLink>
	</h:form>	
	
</ui:composition>