<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<f:view>
	<f:metadata>
		<f:event type="preRenderView" listener="#{testBean.init}"/>
	</f:metadata>
<h:head>
	<h:outputScript name="jquery.js" />
	<h:outputScript name="richfaces.js" />
	<h:outputScript name="richfaces-event.js" />
	<h:outputScript name="richfaces-csv.js" library="org.richfaces"/>
	<h:outputScript name="converter.js" />
</h:head>
<h:body>
	<script type="text/javascript">/* <![CDATA[ */
		window.expected = #{testBean.convertedValueAsScript};

		try {
			window.actual = #{testBean.clientConverterClassName}(#{testBean.submittedValueAsScript}, 
					#{testBean.converterParametersString});
		} catch (e) {
			window.conversionError = e;			
		}
		
		function equals(a, b) {
			if (a === b) {
				return true;
			}
			
			if (a instanceof Date && b instanceof Date) {
				return a.getTime() === b.getTime();
			}
			
			//TODO - implement equality checking for all supported objects in a proper way
			return false;
		}
		
		function verifyConversion() {
			if (window.conversionError) {
				return "conversion error caught: " + window.conversionError.message;
			}
			
			if (!equals(window.actual, window.expected)) {
				return "expected [" + window.expected + "] but was [" + window.actual + "]";
			}
		}
	/* ]]> */</script>
</h:body>
</f:view>
</html>