<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<f:view>
	<h:head>
	</h:head>
	<h:body>
		<h:form id="form">
			<h:dataTable value="#{testBean.data}" id="table" binding="#{testBean.table}">
				<h:column id="column">
					<h:inputText id="input" />

					<f:facet name="header">
						<h:outputText id="header" />
					</f:facet>
				</h:column>
			</h:dataTable>
		</h:form>

		<ui:fragment binding="#{testBean.firstRegion}" id="firstRegion">
			<h:outputText binding="#{testBean.outputInRegion}" id="outputInRegion" />
			
			<ui:fragment binding="#{testBean.linkInRegion}" id="linkInRegion" />
		</ui:fragment>

		<h:outputText binding="#{testBean.outputOutRegion}" id="outputOutRegion" />
		
		<ui:fragment binding="#{testBean.linkOutRegion}" id="linkOutRegion" />
	
	</h:body>
</f:view>
</html>